@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 41, 70, 0;
  --background-rgb: 250, 246, 241;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
